body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    max-width: 90vw;
    overflow: hidden; /* Prevent overflow from affecting layout */
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    color: #444;
}

.counter {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.tables-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 70vh;
    padding-right: 15px; /* Add padding to account for scrollbar */
    margin-right: -15px; /* Counteract padding effect */
}

.tables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px; /* Add padding for inner content */
}

.table {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    flex-direction: column;
}

.table.active {
    background-color: red;
}

.seats {
    position: absolute;
    top: 10px;
}

.controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 10px;
}

button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #444;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: #666;
}

.table-name {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}
