/* Rimuoviamo l'overflow hidden dal body per consentire lo scrolling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto; /* Consentiamo lo scrolling */
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    max-width: 90vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    color: #444;
}

.counter {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.tables-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 70vh;
    padding-right: 15px;
    margin-right: -15px;
}

.tables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

.table {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    flex-direction: column;
}

.table.active {
    background-color: red;
}

.seats {
    position: absolute;
    top: 10px;
}

.controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 10px;
}

button {
    width: 20px; /* Riduciamo le dimensioni */
    height: 20px; /* Riduciamo le dimensioni */
    border: none;
    border-radius: 50%;
    background-color: #444;
    color: white;
    cursor: pointer;
    font-size: 0.8em; /* Riduciamo la dimensione del testo */
}

button:active {
    background-color: #666;
}

.table-name {
    font-weight: bold;
    margin-bottom: 3px; /* Aggiungiamo spazio inferiore */
    text-align: center;
    font-size: 0.8em; /* Riduciamo le dimensioni */
}

.seats {
    font-size: 0.8em; /* Riduciamo le dimensioni */
}

.spacer {
    width: 100%;
    height: 50px; /* Regoliamo l'altezza come necessario */
    background: transparent; /* Assicuriamo che sia invisibile */
    grid-column: span 3; /* Assicuriamo che si estenda su tutte le colonne */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .tables {
        grid-template-columns: repeat(2, 1fr);
    }

    .tables-container {
        max-height: 80vh;
    }
}
